input[type=text] {
  border: 1px solid grey;
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 25px;
}

.button,
input[type="submit"] {
  background-color: #4CAF50;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  display: inline-block;
  font-family: 'Open Sans', sans-serif, Arial, Helvetica;
  font-size: 16px;
}
